<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="page-categories">
          <div class="tab-content tab-space tab-subcategories">
            <div class="row mt-4" *ngIf="articles.length>0">
              <div class="col-md-6" *ngFor="let article of articles">
                <div class="row" *ngIf="article != null">
                  <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                      <img class="img" src="./assets/img/card-1.jpg">
                    </div>
                    <div class="card-body">
                      <div class="card-actions text-center">
                        <button routerLink="../ViewArticle/{{article._id}}" mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                          [matTooltipPosition]="'below'">
                          <i class="material-icons">art_track</i>
                        </button>
                        <button mat-raised-button type="button" (click)="removeFromList(article._id)" class="btn btn-danger btn-link" matTooltip="Remove" [matTooltipPosition]="'below'">
                          <i class="material-icons">close</i>
                        </button>
                      </div>
                      <h4 class="card-title">
                        <p>{{article.title}}</p>
                      </h4>
                      <div class="card-description">
                        <p>Created at: {{article.createdAt}}</p>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="price">
                        <p class="stats"><i class="material-icons">person</i>{{article.author.first_name}}
                          {{article.author.last_name}}</p>
                      </div>
                      <div class="stats">
                        <a href="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>