<mat-card>
    <mat-form-field>
        <input matInput placeholder="Title" name="title" [(ngModel)]="article.title">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput rows="15" placeholder="Body" name="body" [(ngModel)]="article.body"></textarea>
    </mat-form-field>
   <!--  <mat-form-field>
        <mat-select placeholder="Select">
            <mat-option value="option">Channel</mat-option>
        </mat-select>
    </mat-form-field> -->
    <button mat-raised-button color='primary' (click)="AddArticle()">Add Article</button>
</mat-card>