mat-card {
    width: 60%;
    height: 60%;
    margin: auto;
}

mat-form-field{
    display: block;
}
mat-form-field,
input{
    width: 100%;;
    margin-bottom: 20px;
}
mat-form-field,
textarea{
    width: 100%;
}