<div class="wrapper wrapper-full-page">
  <div class="page-header register-page header-filter" filter-color="black"
    style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <form (submit)="onSubmit()">
            <div class="card card-signup">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">contacts</i>
                </div>
                <h4 class="card-title">Register</h4>
              </div>
              <div class="card-body">
                  <mat-form-field class="full-width">
                      <input matInput placeholder="First Name" [formControl]="fnameFormControl" [(ngModel)]="newUser.first_name">
                      <mat-error *ngIf="fnameFormControl.hasError('required')">
                          First name is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="fnameFormControl.errors">
                          First name <strong>must be at least 3 characters long.</strong>
                      </mat-error>
                  </mat-form-field>
                  <!-- {{fnameFormControl.errors | json}} -->
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Last Name" [formControl]="lnameFormControl" [(ngModel)]="newUser.last_name">
                      <mat-error *ngIf="lnameFormControl.hasError('required')">
                          Last name is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="lnameFormControl.errors">
                          Last name <strong>must be at least 3 characters long.</strong>
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="newUser.email">
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                          Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                          Email is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                      <input id="password" type="password" matInput placeholder="Password" [formControl]="passFormControl" [(ngModel)]="newUser.password">
                      <mat-error *ngIf="passFormControl.hasError('required')">
                          Password is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="passFormControl.errors">
                          Password <strong>must be at least 8 characters long.</strong>
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                      <input id="confirm" type="password" matInput placeholder="Confirm Password" [formControl]="confirmFormControl">
                      <mat-error *ngIf="passFormControl.value != confirmFormControl.value">
                          These passwords don't match. Try again!
                      </mat-error>
                  </mat-form-field>
                  {{passFormControl.value}}
                  <br>
                  {{confirmFormControl.value}}
                <div class="category form-category">* Required fields</div>
              </div>
              <div class="card-footer text-left">
                <div class="form-group">
                  <button mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd">Register</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>