<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">library_books</i>
                </div>
                <h2 class="card-title">{{channel.name}}</h2>
            </div>
            <div class="card-body">
                <br>
                <div class="row ml-3">
                    <h4>Channel Description:</h4>
                </div>
                <div class="row ml-3">
                    <p class="channel-text">{{channel.description}}</p>
                </div>
                <br>
                <div class="row ml-3">
                    <h4>Channel Tags:</h4>
                </div>
                <ul *ngFor="let tag of channel.tags">
                    <li class="channel-text">{{tag}}</li>
                </ul>
                <br>
                <br>

            </div>
        </div>
        <!-- end card -->
    </div>
</div>