<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <legend>Tags</legend>
        Regular: <tag-input [(ngModel)]='regularItems' theme='filled-theme'></tag-input>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="page-categories">
          <ul class="nav nav-pills nav-pills-danger nav-pills-icons justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                Explore Articles
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                Explore Channels
              </a>
            </li>
          </ul>
          <br>
          <br>
          <div class="tab-content tab-space tab-subcategories">
            <div class="tab-pane active" id="link7">
              <div class="row" *ngIf="articles.length>0">
                <div class="col-md-4" *ngFor="let article of articles">
                  {{article.createdAt}}
                  <div class="card card-product">
                     <div class="card-header card-header-image" data-header-animation="true">
                      <a href="#pablo">
                        <img class="img" src="./assets/img/card-1.jpg">
                      </a>
                    </div>
                    <div class="card-body">
                      <div class="card-actions text-center">
                        <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                          [matTooltipPosition]="'below'">
                          <i class="material-icons">art_track</i>
                        </button>
                      </div>
                      <h4 class="card-title">
                        <p>{{article.title}}</p>
                      </h4>
                      <div class="card-description">
                        <p>Created at: {{article.createdAt}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="link8">
              Sub Channels
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>