<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="page-categories">
          <ul class="nav nav-pills nav-pills-danger nav-pills-icons justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                Articles Feed
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                Subscribed Channels
              </a>
            </li>
          </ul>
          <br>
          <br>
          <div class="tab-content tab-space tab-subcategories">
            <div class="tab-pane active" id="link7">
              <div *ngFor="let channel of channels">
                <div class="row" *ngIf="channel.articles.length>0">
                  <div class="col-md-4" *ngFor="let article of channel.articles">
                    <div class="card card-product">
                      <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                          <img class="img" src="./assets/img/card-1.jpg">
                        </a>
                      </div>
                      <div class="card-body">
                        <div class="card-actions text-center">
                          <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                            [matTooltipPosition]="'below'">
                            <i class="material-icons">art_track</i>
                          </button>
                        </div>
                        <h4 class="card-title">
                          <p>{{article.title}}</p>
                        </h4>
                        <div class="card-description">
                          <p>Created at: {{article.createdAt}}</p>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="price">
                          <p class="stats"><i class="material-icons">person</i>{{article.author.first_name}}
                            {{article.author.last_name}}</p>
                        </div>
                        <div class="stats">
                          <a href="">
                            <p>Channel: {{channel.name}}</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane" id="link8">
              <div class="row" *ngIf="channels.length>0">
                <div class="col-md-4" *ngFor="let channel of channels">
                  <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                      <a href="#pablo">
                        <img class="img" src="./assets/img/card-1.jpg">
                      </a>
                    </div>
                    <div class="card-body">
                      <div class="card-actions text-center">
                        <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                          [matTooltipPosition]="'below'">
                          <i class="material-icons">art_track</i>
                        </button>
                        <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Unsubscribe" [matTooltipPosition]="'below'">
                            <i class="material-icons">close</i>
                          </button>
                      </div>
                      <h4 class="card-title">
                        <p>{{channel.name}}</p>
                      </h4>
                      <div class="card-description">
                        <p>Created at: {{channel.description}}</p>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="price">
                        <p class="stats"><i class="material-icons">person</i>{{channel.owner.first_name}}
                          {{channel.owner.last_name}}</p>
                      </div>
                      <div class="stats">
                        <!-- <a href="">
                              <p>Channel: </p>
                            </a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>