<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card ">
          <div class="card-header  card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mail_outline</i>
            </div>
          </div>
          <div class="card-body">
            <!-- <form (click)="AddArticle()"> -->
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Title" name="title" [(ngModel)]="article.title">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Body" name="body" [(ngModel)]="article.body"  rows="13" ></textarea>
            </mat-form-field>
            <!-- </form> -->
            <div class="col-md-6">
              <legend>Tags</legend>
              <tag-input [(ngModel)]='regularItems' theme='filled-theme'></tag-input>
            </div>
          </div>
          <div class="card-footer ">
            <button mat-raised-button (click)="AddArticle()" type="submit" class="btn btn-fill ">Submit</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>