<div class="container">
    <mat-tab-group dynamicHeight  mat-stretch-tabs >
        <mat-tab label="chanels">
            <div class="example-small-box mat-elevation-z4">
                <div class="card-body">
                    <div class="card-actions">
                      <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                        <i class="material-icons">build</i> Fix Header!
                      </button>
                      <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh" [matTooltipPosition]="'below'">
                        <i class="material-icons">refresh</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date" [matTooltipPosition]="'below'">
                        <i class="material-icons">edit</i>
                      </button>
                    </div>
                    <h4 class="card-title">Website Views</h4>
                    <p class="card-category">Last Campaign Performance</p>
                  </div>            </div>
        </mat-tab>
        <mat-tab label="Articles">
            <div>

                <mat-card class="example-card">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-subtitle>sub title</mat-card-subtitle>
                    <mat-card-content>Content Content Content Content Content Content Content </mat-card-content>
                    <mat-card-actions><button>button</button></mat-card-actions>
                    <a >
                        <h5 class="waves-light" mdbWavesEffect>Read more
                        </h5>
                    </a>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>