<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">{{channel.name}} -
            <small class="description">{{channel.owner.first_name}} {{channel.owner.last_name}}</small>
          </h4>
        </div>
        <div class="card-body ">
          <div class="row">
            <div class="col-md-2">
              <ul class="nav nav-pills nav-pills-rose flex-column" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#link4" role="tablist">
                    Descreption
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                    Articles
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link6" role="tablist">
                    The Author
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-10">
              <div class="tab-content">
                <div class="tab-pane active" id="link4">
                  <img class="img" src="./assets/img/card-1.jpg">
                  <h4>{{channel.name}}</h4>
                  Description: {{channel.description}}
                  <br>
                  Created at:{{channel.createAt}}
                  <br>
                  Tags:
                 

          <!--         <div *ngIf="channel.tags.length !=  0">
                    <div class="col-md-4" *ngFor="let tag of channel.tags">
                      #{{tag}}
                    </div>
                  </div> -->
                </div>
                <div class="tab-pane" id="link5">

                  <div class="col-md-4" *ngFor="let article of channel.articles">
                    <div *ngIf="article != null">

                      <a routerLink="../../ViewArticle/{{article._id}}">{{article.title}}</a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="link6">
                  <h4>{{channel.owner.first_name}}</h4>
                  {{channel.owner.email}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>